In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
%pylab inline
import pip
import sys
!{sys.executable} -m pip install word2number
from word2number import w2n

Populating the interactive namespace from numpy and matplotlib
Requirement already satisfied: word2number in c:\users\hugo\anaconda3\lib\site-packages

You are using pip version 9.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [51]:
df=pd.read_excel('homeprice+.xlsx')
df

#we are looking for an equation of the form
#y=m1*x1+m2*x2+m3*x3+b
#mi are the coef
#xi are the varia bles( area, bedrooms...)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [19]:
#first we need to clear data, handle missing values
a=df.bedrooms.median()
a
df.bedrooms=df.bedrooms.fillna(a) #df.beadrooms is replaced
# warning, do not attribute the value to df
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [21]:
reg=linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)
#variabales are are, bedromms and age (x1,x2,x3) and the target is price(y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [23]:
reg.coef_ #gives the coef m1,m2 and m3
reg.intercept_ #gives b

221323.00186540408

In [55]:
reg.predict([[3000,3,40]]) #predict the price of a 3000 area, 3 bedrooms and 40 age
df.bedrooms

0    3.0
1    4.0
2    NaN
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [68]:
#exercice
d=pd.read_excel('hiring.xlsx')
d.experience=d.experience.fillna('zero')
d.experience=d.experience.apply(w2n.word_to_num)
d
a=d.test_score.median()
d.test_score=d.test_score.fillna(a)
d
reg.fit(d[['experience','test_score','interview_score']],d.salary)
reg.predict([[2,9,6]])

array([ 53205.96797671])